<!DOCTYPE html>
<html>
  <head>
    <title>Sk Careers</title>
    {% include 'bootstrap.html' %}
   
  </head>
  <body> 
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mt-4">Sk Careers</h1>
      <img class='img-fluid' id='banner'src ='https://jovin-career--shivam97165.repl.co/static/banner.jpeg.jpg' width='100%'>
      <h2 class="text-center mt-2 mt-4">About Sk Careers</h2>

      <p class="lead">Sine 2008, we at Sk career provide value career.we at Sk Career help you Get the professional jobs around the world.Stay Connected to get the latest info..</p>
      <h2 class="text-center mt-0 mb-4">open positions</h2>

      <div>
        {% for job in jobs %}
          {% include 'jobitems.html' %}
        
        {% endfor %}
        
      </div>
      <div class="text-center mb-4 ">

      
        <a class="btn btn-primary btn-lg " href="mailto:Shivam97165@gmailcom?subject=Application%20for%20&body=My%20Resume%20link%0D%0AMy%20Education%20link%0D%0Amy%20Projects%20link " >Contact Us</a>
        
      </div>
      
    </div>
    {% include 'footer.html' %}
    
  </body>
</html>
